// UTILITY CLASSES:
// green, red, purple
// button-anchor: apply button styling to <a></a> element
// void-btn: no button styling

@use '/src/styles/mixins' as *;

button:not(.void-btn),
.button-anchor {
  min-width: 2.75rem;
  min-height: 2.75rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  outline: none;
  text-transform: uppercase;
  @include white-txt(soft);
  @include light-blue(0.5);
  @include cyan-border(0.5);

  @include respond-up(small-desktop) {
    min-width: 2.25rem;
    min-height: 2.25rem;
  }

  &:hover:not(&:disabled),
  &:active:not(&:disabled),
  &:focus:not(&:disabled) {
    @include cyan(1, text);
    @include light-blue(1, bg);
    @include box-glow;
    @include scale;
    @include cyan-border;
  }

  &:disabled {
    @include gray(0.25);
    @include dark-blue(1, text);
    @include dark-border;
  }

  img,
  svg {
    width: clamp(1.5rem, 2.5vw, 1.75rem);
  }

  img {
    border-radius: 10%;
  }

  span {
    white-space: nowrap;
  }
}

.button-anchor {
  text-decoration: none !important;
}

[role='button'] {
  min-width: 2.75rem;
  min-height: 2.75rem;

  @include respond-up(small-desktop) {
    min-width: 2.25rem;
    min-height: 2.25rem;
  }
}

.green-btn:not(.void-btn) {
  @include green(0.75);

  &:hover:not(&:disabled),
  &:active:not(&:disabled),
  &:focus:not(&:disabled) {
    @include green;
    box-shadow: 0 0 0.5rem $green;
  }
}

.red-btn:not(.void-btn) {
  @include red(0.75);

  &:hover:not(&:disabled),
  &:active:not(&:disabled),
  &:focus:not(&:disabled) {
    @include red;
    box-shadow: 0 0 0.5rem $red;
  }
}

.green-btn:not(.void-btn),
.red-btn:not(.void-btn) {
  border-color: transparent !important;

  &:hover:not(&:disabled),
  &:active:not(&:disabled),
  &:focus:not(&:disabled) {
    @include dark-blue(1, text);
  }
}

.purple-btn:not(.void-btn) {
  @include purple;

  &:hover:not(&:disabled),
  &:active:not(&:disabled),
  &:focus:not(&:disabled) {
    @include purple(1, bg, bright);
    box-shadow: 0 0 0.5rem $purple;
  }
}

.orange-btn:not(.void-btn) {
  @include orange;

  &:hover:not(&:disabled),
  &:active:not(&:disabled),
  &:focus:not(&:disabled) {
    @include orange(1, bg, bright);
    box-shadow: 0 0 0.5rem $orange;
  }
}

.active-btn:not(.void-btn) {
  background-color: $deep-green !important;
  color: $cyan !important;
}

:where(.void-btn) {
  background-color: transparent;
  border: none;
  color: inherit;
  min-width: 2.75rem;
  min-height: 2.75rem;

  @include respond-up(small-desktop) {
    min-width: 2.25rem;
    min-height: 2.25rem;
  }
}

.min-size-btn {
  min-width: unset !important;
  min-height: unset !important;
  width: 2.75rem;
  height: 2.75rem;

  @include respond-up(small-desktop) {
    width: 2.25rem;
    height: 2.25rem;
  }
}

.sign-button {
  width: 15rem;
  justify-content: space-between !important;

  p {
    width: 100%;
  }

  @include respond-up(tablet) {
    width: 25rem;
  }
}
