@use "/src/styles/mixins" as *;

button,
.button-anchor {
  min-width: 2.75rem;
  min-height: 2.75rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  outline: none;
  text-transform: uppercase;
  @include font;
  @include white-txt(soft);
  @include light-blue(0.5);
  @include cyan-border(0.5);

  @include respond-up(small-desktop) {
    min-width: 2.25rem;
    min-height: 2.25rem;
    padding: 0.5rem;
  }

  &:hover:not(button:disabled),
  &:active:not(button:disabled),
  &:focus:not(button:disabled) {
    @include cyan(1, text);
    @include light-blue(1, bg);
    @include box-glow;
    @include scale;
    @include cyan-border;
  }

  &:disabled {
    @include gray(0.25);
    @include dark-blue(1, text);
    @include dark-border;
  }

  img,
  svg {
    width: clamp(1.5rem, 2.5vw, 1.75rem);
  }

  img {
    border-radius: 10%;
  }

  span {
    white-space: nowrap;
  }
}

.button-anchor {
  text-decoration: none !important;
}

[role='button'] {
  min-width: 2.75rem;
  min-height: 2.75rem;

  @include respond-up(small-desktop) {
    min-width: 2.25rem;
    min-height: 2.25rem;
  }
}
