---
import Layout from '@layouts/Layout.astro';

import ExploreStory from '@components/dashboard/dream-legacy/manage/ExploreStory.svelte';

const { topic_id } = Astro.params;

if (!topic_id) {
  Astro.redirect('/');
}

const meta = {
  header: 'Refine & Enhance',
  nav: topic_id,
  story: topic_id,
  arrow: '/dashboard/dream/manage',
  subheading:
    'Polish your idea and set the stage for an unforgettable journey.',
};
---

<Layout {...meta}>
  <main>
    <ExploreStory topic_id={topic_id} client:load />
  </main>
</Layout>
