repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-json
      - id: check-merge-conflict
      - id: mixed-line-ending

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [javascript, jsx, ts, tsx, svelte, astro, css, scss, json, yaml, markdown]
        additional_dependencies:
          - prettier@^3.1.0
          - prettier-plugin-svelte@^3.1.0
          - prettier-plugin-astro@^0.12.0

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.56.0
    hooks:
      - id: eslint
        files: \.(js|ts|svelte|astro)$
        types: [file]
        additional_dependencies:
          - eslint@^8.56.0
          - eslint-plugin-astro@^0.31.0
          - eslint-plugin-svelte@^2.35.0
          - typescript@^5.3.0