---
import Layout from '@layouts/Layout.astro';

import DashboardApp from '@components/dashboard/DashboardApp.svelte';

const meta = {
  header: 'Track Your Universe',
  subheading:
    'Monitor plays, optimize engagement, and keep your best stories at the top.',
  nav: 'Dashboard',
  arrow: 'back',
  // hiddenNav: true,
};
---

<Layout {...meta}>
  <main>
    <DashboardApp client:only="svelte" />
  </main>
</Layout>
