---
import Layout from '@layouts/Layout.astro';

import Dashboard from '@components/routes/Dashboard.svelte';

const meta = {
  header: 'Track Your Universe',
  nav: 'Dashboard',
  subheading:
    'Monitor plays, optimize engagement, and keep your best stories at the top.',
};
---

<Layout {...meta}>
  <main>
    <Dashboard client:load />
  </main>
</Layout>
