---
import Layout from '@layouts/Layout.astro';

import DashboardApp from '@components/dashboard/new/DashboardApp.svelte';

const meta = {
  // header: 'Track Your Universe',
  // subheading:
  // 'Monitor plays, optimize engagement, and keep your best stories at the top.',
  nav: 'Dashboard',
};
---

<Layout {...meta}>
  <main>
    <!-- <Dashboard client:load /> -->
    <DashboardApp client:only="svelte" />
  </main>
</Layout>
