:where(
    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    embed,
    figure,
    figcaption,
    footer,
    header,
    hgroup,
    menu,
    nav,
    output,
    ruby,
    section,
    summary,
    time,
    mark,
    audio,
    video
  ) {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

:where(
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section
  ) {
  display: block;
}

:where(body) {
  line-height: 1;
}

:where(ol, ul) {
  list-style: none;
}

:where(blockquote, q) {
  quotes: none;
}

:where(blockquote:before, blockquote:after, q:before, q:after) {
  content: '';
  content: none;
}

:where(img) {
  max-width: 100%;
}

:where(button) {
  border: none;
  cursor: pointer;
}

:where(dialog) {
  padding: 0;
  outline: none;
}

/* General */
:where(*) {
  cursor: default;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

* {
  font-size: inherit;
  line-height: inherit;
}

html {
  background-image: url('/conexusBG.avif'), linear-gradient(#000000, #010020);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #010020;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'PT Serif Caption', serif;
  color: #dedede;
  font-size: 1em;
  word-spacing: 0.2em;
  line-height: 2em;
  padding-bottom: 7.5vw;
}

html::-webkit-scrollbar {
  width: 0px;
}

.blur {
  -webkit-backdrop-filter: blur(1rem);
  backdrop-filter: blur(1rem);
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

hr {
  width: 95%;
  border: 0.1vw solid rgba(51, 226, 230, 0.5);
}

input {
  cursor: text;
}

button {
  font-family: inherit;
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
  padding: 1vw;
  font-size: 1.5vw;
  line-height: 1.5vw;
  color: #dedede;
  background-color: rgba(56, 117, 250, 0.5);
  border: 0.1vw solid rgba(51, 226, 230, 0.5);
  border-radius: 1vw;
}

button:hover,
button:active {
  color: rgba(51, 226, 230, 0.9);
  background-color: rgba(56, 117, 250, 0.9);
  border-color: rgba(51, 226, 230, 0.9);
  filter: drop-shadow(0 0 0.5vw rgba(51, 226, 230, 0.5));
  text-shadow: 0 0 0.5vw rgba(1, 0, 32, 0.5);
  transform: scale(1.05);
}

button:disabled,
button:disabled:hover,
button:disabled:active {
  opacity: 0.5;
  color: #dedede;
  border-color: rgba(51, 226, 230, 0.5);
  background-color: rgba(56, 117, 250, 0.5);
  filter: none;
  transform: none;
  cursor: not-allowed;
}

.non-hover-btn:hover,
.non-hover-btn:active {
  filter: none;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0);
  opacity: 1;
}

button img {
  height: 100%;
  width: auto;
  cursor: inherit;
  filter: drop-shadow(0 0 0.5vw rgba(1, 0, 32, 0.5));
}

h1,
h2 {
  text-align: center;
  color: #dedede;
  font-size: 3vw;
  line-height: 3vw;
}

h2 {
  font-size: 2vw;
  line-height: 2vw;
}

h3,
label,
a {
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.5vw;
  line-height: 1.5vw;
}

a {
  color: rgba(51, 226, 230, 0.9);
  text-decoration: none;
  cursor: pointer;
}

a:hover,
a:active {
  color: rgb(51, 226, 230);
  text-decoration: underline;
}

.validation {
  text-align: center;
  font-size: 1.25vw;
  line-height: 1.5vw;
  color: rgba(255, 50, 50, 0.75);
}

.green {
  color: rgba(0, 185, 55, 0.75);
}

main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

@media only screen and (max-width: 600px) {
  hr {
    width: 100%;
  }

  button {
    font-size: 1em;
    line-height: 1.75em;
    padding: 0.25em 1em;
    border-radius: 0.5em;
  }

  h1 {
    font-size: 1.5em;
    line-height: 1.75em;
  }

  h2 {
    font-size: 1.25em;
    line-height: 1.5em;
  }

  h3,
  label,
  a {
    font-size: 1em;
    line-height: 1.5em;
  }

  .validation {
    font-size: 1em;
    line-height: 1.5em;
  }

  main {
    gap: 1em;
  }
}
