// UTILITY CLASSES:
// flex, flex-row, flex-wrap, blur, validation, transition, gap-# 8, 16 (none), 24, 32
// Padding: pad-# 8, 16 (none), 24, 32; Padding-Inline: pad-inline
// Border-radius: round-# 8, 12, 16 (none), 24, 32
// Margin: mar, mar-inline (16), mar-auto
// (# - pixel value)

@use 'mixins' as *;
@use 'components';

// Tippy.js tooltips - https://atomiks.github.io/tippyjs/
@import 'tippy.js/dist/tippy.css';
@import 'tippy.js/animations/scale.css';
// Use like this:
// import { tippy } from 'svelte-tippy';
// use:tippy={{ content: 'Start your story', animation: 'scale' }}

.tippy-box {
  background-color: $deep-green;
  padding: 0.25rem;
  border-radius: 0.5rem;
  @include box-shadow(0 0 0.5rem rgba(0, 0, 0, 0.75));
  @include font(caption);
}

.tippy-arrow {
  color: $deep-green;
}

/* RESET */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
}

*::before,
*::after {
  color: inherit;
}

a,
button,
[role='button'],
svg,
select {
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
}

a *,
button *,
[role='button'] *,
svg * {
  cursor: inherit;
  transition: all 0.3s ease;
}

button:disabled,
input:disabled,
select:disabled,
textarea:disabled {
  cursor: not-allowed;
  border-color: black;
}

label {
  cursor: pointer;
}

input:disabled,
textarea:disabled {
  opacity: 1 !important; // for iOS
}

ul:not(.default-ul),
ol:not(.default-ol) {
  list-style-type: none;
}

.default-ul,
.default-ol {
  text-align: left;
  list-style-position: inside;
}

:where(h1, h2, h3, h4, h5, p) {
  cursor: default;
}

:where(img) {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: initial;
}

:where(hr) {
  width: 100%;
  @include gray-border;
}

:where(code) {
  font-family: monospace;
  @include gray(0.1);
}

:where(b) {
  font-weight: bold;
  color: $white;
  @include text-shadow;
}

body, html {
  /* Prevents the standard chrome pull-to-refresh visual */
  overscroll-behavior-y: none; 
}

/* GENERAL STYLING */

a {
  position: relative;
  text-decoration: none;
  @include cyan(0.9, text);

  // Customizable underline variables
  $u-thickness: 2px;
  $u-offset: 0.1em; // distance below text

  &:not(.nohover-link, .button-anchor) {
    white-space: nowrap; // prevent line breaks
  }

  &:not(.nohover-link, .button-anchor)::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: calc(-1 * $u-offset);
    height: $u-thickness;
    background: currentColor;

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.6s ease-in-out;
    pointer-events: none;
  }

  &:not(.nohover-link, .button-anchor):hover::after,
  &:not(.nohover-link, .button-anchor):focus-visible::after {
    transform: scaleX(1);
    @include cyan(1, text);
    // transform-origin: left; // expand from left
  }

  // When mouse leaves: shrink to the right
  &:not(.nohover-link, .button-anchor):not(:hover)::after {
    transform: scaleX(0);
    // transform-origin: right;
  }
}

.tile,
.menu-tile,
.small-tile,
.navigation-tab {
  &:not(.nohover-link, .button-anchor)::after {
    bottom: unset;
    height: unset;
    background: unset;
    transform: unset;
  }
}

html {
  text-align: center;
  padding-block: 1.5rem 5.5rem;
  letter-spacing: 0.025rem;
  word-spacing: 0.2em;
  background-color: black;

  @include cyan(0.85, 'text');
  @include font;

  @include respond-up('small-desktop') {
    padding-block: 6rem 1.5rem;
  }

  &::-webkit-scrollbar {
    width: 0px;
  }

  // UTILITY CLASSES

  main,
  :where(.flex) {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }

  .flex-row {
    @extend .flex;
    flex-direction: row;
  }

  .flex-wrap {
    flex-wrap: wrap;
  }

  .gap-8 {
    gap: 0.5rem;
  }

  .gap {
    gap: 1rem;
  }

  .gap-24 {
    gap: 1.5rem;
  }

  .gap-32 {
    gap: 2rem;
  }

  .blur {
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
  }

  .pad-8 {
    padding: 0.5rem;
  }

  .pad {
    padding: 1rem;
  }

  .pad-24 {
    padding: 1.5rem;
  }

  .pad-32 {
    padding: 2rem;
  }

  .pad-inline {
    padding-inline: 1.5rem;
  }

  .round-8 {
    border-radius: 0.5rem;
  }

  .round-12 {
    border-radius: 0.75rem;
  }

  .round {
    border-radius: 1rem;
  }

  .round-24 {
    border-radius: 1.5rem;
  }

  .round-32 {
    border-radius: 2rem;
  }

  .mar {
    margin: 1rem;
  }

  .mar-inline {
    margin-inline: 1rem;
  }

  .mar-auto {
    margin-inline: auto;
  }

  .validation {
    text-transform: uppercase;
    @include font(small);

    a {
      color: inherit;
      font-size: inherit;
      line-height: inherit;
      filter: brightness(125%);
      text-decoration: underline;

      &:hover,
      &:active {
        text-decoration: none;
      }
    }
  }

  .transition {
    transition: all 0.3s ease;
  }

  .vert-scrollbar {
    &::-webkit-scrollbar {
      width: 0.5rem;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(51, 226, 230, 0.25),
        rgba(0, 0, 0, 0)
      );
      border-radius: 0.5rem;
      cursor: pointer;
    }

    &::-webkit-scrollbar-thumb:hover,
    &::-webkit-scrollbar-thumb:active {
      background: rgba(51, 226, 230, 0.25);
    }
  }

  .drag-handle {
    cursor: grab;
    user-select: none;
    padding-inline: 0.25rem;
    font-size: 1.25rem;
  }

  .container {
    @extend .flex;
    @extend .blur;
    @extend .pad-24;
    @extend .round;
    width: clamp(250px, 90%, 50rem);
    max-width: 90rem;
    // box-shadow: $shadow-plus-inset-glow;
    animation: dark-glowing 15s ease infinite;
    margin-inline: auto;
    @include gray-border;
  }

  .transparent-container {
    @extend .container;
    animation: transparent-glowing 15s ease infinite;
  }

  .opaque-container {
    @extend .container;
    animation: dark-glowing-opaque 15s ease infinite;
  }

  .mobile-text-wrapper {
    display: block;
    @extend .transparent-container;

    @include respond-up(small-desktop) {
      // box-shadow: none;
      animation: none;
      border: none;
      backdrop-filter: none;
      -webkit-backdrop-filter: none;
      width: auto;
      padding: 0;
    }
  }

  .wide-container {
    width: clamp(250px, 95%, 70rem);
  }

  // NAVIGATION STYLING

  .navigation-tab {
    @extend .flex;
    width: 100%;
    gap: 0;
    padding-block: 0.5rem;
    text-decoration: none;
    opacity: 0.75;
    fill: $white;
    stroke: $white;
    @include white-txt;

    svg {
      width: 2rem;
    }

    p {
      white-space: nowrap;
      max-width: 5rem;
      text-overflow: ellipsis;
      overflow-x: hidden;
      text-transform: uppercase;
      font-size: 0.5rem;

      @include respond-up(tablet) {
        max-width: 7rem;
        text-transform: none;
      }
    }

    &.active {
      opacity: 1;
      @include cyan(1, text);

      svg {
        fill: $cyan;
        stroke: $cyan;
      }
    }

    &.inactive {
      opacity: 0.25;
      pointer-events: none;
      cursor: not-allowed;
    }

    @include respond-up(small-desktop) {
      width: auto;
      height: 2.5rem;
      flex-direction: row;
      padding: 0 0.5rem;
      gap: 0.5rem;
      border-radius: 0.5rem;
      opacity: 1;
      font-weight: 500;
      @include light-blue(1, text);

      &.dashboard-tab {
        margin-left: auto;
      }

      &.active {
        @include cyan;
        @include dark-blue(1, text);

        svg {
          fill: $dark-blue;
          stroke: $dark-blue;
        }
      }

      &:hover:not(.active, .inactive),
      &:active:not(.active, .inactive),
      &:focus-visible:not(.active, .inactive) {
        @include cyan(1, text);

        svg {
          fill: $cyan;
          stroke: $cyan;
        }
      }

      svg {
        width: 1.25rem;
        min-width: unset;
        fill: $light-blue;
        stroke: $light-blue;
      }

      p {
        color: inherit;
        @include font(body);
      }
    }
  }

  // DREAM SECTION STYLING

  .dream-container {
    @extend .transparent-container;
    width: 100%;
    max-width: 90rem;

    &,
    * {
      animation-duration: 36s !important;
    }

    @include mobile-only {
      width: 100vw;
      margin-inline: -1.5rem;
      border-radius: 0;
      border-left: none;
      border-right: none;
    }

    input:not(input[type='range']),
    textarea,
    select {
      // animation: dark-glowing 15s ease infinite;
      background-color: $transparent-black;
      @include white-txt;
      // @include box-shadow(0 0 0.5rem rgba(0, 0, 0, 0.75));

      &:hover:not(&:disabled),
      &:active:not(&:disabled),
      &:focus-visible:not(&:disabled) {
        transform: none;
        @include white-txt;
        @include box-shadow;
        @include cyan-border;
        @include bright;
        @include scale(1.005, x);
      }
    }

    // h4,
    // h5 {
    //   @include text-shadow;
    // }

    div:not(form div) {
      width: 100%;
      flex-flow: row wrap;
      justify-content: space-around;

      @include respond-up(small-desktop) {
        flex-wrap: nowrap;

        h4 {
          width: 14rem;
          text-align: right;
        }
      }

      &.container {
        background-color: $transparent-black;
        animation: none;
        border-radius: 0.5rem;
      }

      &.input-container {
        flex-flow: column nowrap;
        margin-top: 0;

        label {
          position: static;

          &::after {
            content: '';
          }
        }
      }

      .edit-wrapper {
        flex-flow: row wrap;
        gap: 1rem;

        @include respond-up(small-desktop) {
          flex-direction: column;
          align-items: flex-end;
        }
      }

      .dream-radio-btn {
        text-transform: uppercase;
        @include light-blue(1, text);
        @include font(h4);

        &:hover:not(&:disabled),
        &:active:not(&:disabled),
        &:focus-visible:not(&:disabled) {
          @include scale;
          @include bright;
        }

        &:disabled {
          @include gray(0.5, text);
        }

        &.active {
          @include cyan(1, text);
        }
      }
    }
  }

  // BLOG SECTION STYLING

  .blog-pages {
    @extend .flex;

    a {
      @extend .transparent-container;
      width: calc(100% - 3rem);
      max-width: 90rem;

      img {
        border-radius: 0.5rem;
      }

      article {
        @extend .flex;
        align-items: flex-start;

        h5 {
          @include white-txt;
        }

        p {
          @include white-txt(soft);
        }
      }

      @include respond-up(tablet) {
        flex-direction: row;

        img {
          width: 10rem;
        }

        article {
          h5,
          p {
            text-align: left;
          }
        }
      }

      @include respond-up(large-desktop) {
        width: calc(100% - 200px);
      }

      &:hover,
      &:active,
      &:focus-visible {
        text-decoration: none;
        @include bright;
        @include scale-up(soft);

        article {
          h5 {
            @include cyan(1, text);
          }

          p {
            @include cyan(0.75, text);
          }
        }
      }
    }
  }

  .blog-title {
    @extend .container;
    width: 95%;
    max-width: 80rem;

    img {
      width: 100%;
      border-radius: 0.5rem;
      mask: radial-gradient(20px at 20px 20px, #0000 98%, #000) -20px -20px;
    }

    h3 {
      background-clip: text;
      color: transparent;
      background-image: linear-gradient(to right, $deep-red, $blue);
      filter: brightness(125%)
        drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.75));
      @include white-txt(0.5);
    }

    @include respond-up(tablet) {
      flex-direction: row;
      justify-content: space-between;

      img {
        max-width: 20rem;
      }

      h3 {
        text-align: left;
      }
    }
  }

  .blog-page {
    @extend .transparent-container;
    width: 95%;
    max-width: 80rem;
    @include white-txt;

    h5 {
      @include cyan(1, text);
    }

    .cards-list {
      @extend .container;
      width: 100%;
      @include box-shadow(deep, inset);

      .card {
        @extend .gray-tile;
        width: 100%;
        padding: 1.5rem;
        gap: 1.5rem;

        &.green-card {
          @extend .green-tile;
          width: 100%;
          padding: 1.5rem;
          gap: 1.5rem;
        }

        h4 {
          @include cyan(1, text);
        }

        .details {
          @extend .container;
          animation: none !important;
          width: 100%;
          align-items: flex-start;
          @include white-txt(0.5);
          @include dark-blue(0.75);
          @include box-shadow(soft, inset);

          p {
            text-align: left;

            strong {
              @include white-txt;
            }
          }
        }

        &:hover,
        &:active,
        &:focus-visible {
          p {
            @include cyan(1, text);
          }

          .details {
            p,
            p strong {
              @include white-txt(1);
            }
          }
        }
      }

      @include respond-up(small-desktop) {
        flex-flow: row wrap;

        .card,
        .card.green-card {
          width: calc(50% - 0.75rem);
        }
      }
    }
  }

  // NAVIGATION ICONS

  .top-left-icon,
  .top-right-icon {
    width: 2.75rem;
    border-radius: 50%;
    z-index: 150;
    flex: none;
    filter: drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.75));

    svg {
      border-radius: inherit;
    }

    &:hover,
    &:active,
    &:focus-visible {
      @include scale;
    }

    @include respond-up(small-desktop) {
      position: fixed;
      top: 1rem;
      width: 4rem;
    }
  }

  .top-left-icon {
    left: 1rem;
  }

  .top-right-icon {
    right: 1rem;
  }
}

.pc-only {
  display: none;

  @include respond-up(tablet) {
    display: block;
  }
}

.mobile-only {
  display: block;

  @include respond-up(tablet) {
    display: none;
  }
}

.progress-bar {
  position: relative;
  width: 100%;
  height: 0.5rem;
  border-radius: 0.25rem;

  span {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: 100%;
    border-radius: inherit;
    @include cyan;
  }
}

// For screen readers
.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

// For game instructions
.keyboard-instructions {
  @extend .transparent-container;
  width: auto !important;
  align-items: flex-start;
  padding-inline: 10rem !important;

  li {
    @extend .flex-row;

    .keyboard-btn {
      font-family: Verdana, sans-serif;
      font-weight: bold;
      min-width: 3rem;
      min-height: 2rem;
      padding: 0.5rem;
      border-radius: 0.25rem;
      @include gray;
      @include dark-blue(1, text);
    }
  }
}

// Prevent accidental navigation while dragging
.dnd-dragging {
  a.tile {
    pointer-events: none;
  }
}

// Prevent scroll
.no-scroll {
  overflow: hidden;
  overscroll-behavior: none; // iOS/Android: blocks pull‑to‑refresh bounce
}
