// UTILITY CLASSES:
// flex, flex-row, blur, validation, transition
// Padding: pad-# 8, 16 (none); Padding-Inline: pad-inline
// Border-radius: round-# 8, 16 (none), 24, 32
// (# - pixel value)

@use 'mixins' as *;
@use 'components';

/* RESET */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    PT Serif Caption,
    serif-sans;
}

a,
button,
[role='button'],
svg,
select {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  outline: none;
}

a *,
button *,
[role='button'] *,
svg * {
  cursor: inherit;
  transition: all 0.3s ease-in-out;
}

button:disabled,
input:disabled,
select:disabled {
  cursor: not-allowed;
}

label {
  cursor: pointer;
}

input:disabled,
textarea:disabled {
  opacity: 1 !important; // for iOS
}

ul {
  list-style-type: none;
}

/* GENERAL STYLING */

a {
  color: rgba(51, 226, 230, 0.9);
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    color: $cyan;
    text-decoration: underline;
  }
}

html {
  background-image: url('/mobileBG.webp');
  background-attachment: scroll;
  background-repeat: repeat;
  background-position: top;

  text-align: center;
  padding-block: 5rem;
  letter-spacing: 0.025rem;

  @include dark-blue(1);
  @include cyan(0.75, 'text');
  @include font;

  @include respond-up('tablet') {
    background-image:
      url('/conexusBG.avif'), linear-gradient(black, $dark-blue);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-block: 4rem 2rem;
  }

  &::-webkit-scrollbar {
    width: 0px;
  }

  main,
  :where(.flex) {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .flex-row {
    @extend .flex;
    flex-direction: row;
  }

  .blur {
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
  }

  .pad-8 {
    padding: 0.5rem;
  }

  .pad {
    padding: 1rem;
  }

  .pad-inline {
    padding-inline: 1rem;
  }

  .round-8 {
    border-radius: 0.5rem;
  }

  .round {
    border-radius: 1rem;
  }

  .round-24 {
    border-radius: 1.5rem;
  }

  .round-32 {
    border-radius: 2rem;
  }

  .validation {
    @include font(small);

    a {
      color: inherit;
      font-size: inherit;
      line-height: inherit;
      filter: brightness(125%);
      text-decoration: underline;

      &:hover,
      &:active {
        text-decoration: none;
      }
    }
  }

  .transition {
    transition: all 0.3s ease-in-out;
  }

  .top-left-icon,
  .top-right-icon {
    width: 2.75rem;
    border-radius: 50%;
    z-index: 100;

    svg {
      border-radius: inherit;
    }

    &:hover,
    &:active,
    &:focus {
      @include scale;
    }

    @include respond-up(tablet) {
      position: fixed;
      top: 1rem;
      width: 4rem;
    }
  }

  .top-left-icon {
    left: 1rem;
  }

  .top-right-icon {
    right: 1rem;
  }

  :where(img) {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: initial;
  }

  :where(hr) {
    width: 95%;
    @include cyan-border(0.25);
  }
}

// For screen readers
.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
