// UTILITY CLASSES:
// flex, flex-row, blur, validation, transition, gap-8
// Padding: pad-# 8, 16 (none); Padding-Inline: pad-inline
// Border-radius: round-# 8, 12, 16 (none), 24, 32
// Margin: mar, mar-inline (16), mar-auto
// (# - pixel value)

@use 'mixins' as *;
@use 'components';

// Tippy.js tooltips - https://atomiks.github.io/tippyjs/
@import 'tippy.js/dist/tippy.css';
@import 'tippy.js/animations/scale.css';
// Use like this:
// import { tippy } from 'svelte-tippy';
// use:tippy={{ content: 'Start your story', animation: 'scale' }}

.tippy-box {
  background-color: $deep-green;
  padding: 0.25rem;
  border-radius: 0.5rem;
  @include box-shadow(0 0 0.5rem black);
  @include font(caption);
}

.tippy-arrow {
  color: $deep-green;
}

/* RESET */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    PT Serif Caption,
    serif-sans;
}

a,
button,
[role='button'],
svg,
select {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  outline: none;
}

a *,
button *,
[role='button'] *,
svg * {
  cursor: inherit;
  transition: all 0.3s ease-in-out;
}

button:disabled,
input:disabled,
select:disabled {
  cursor: not-allowed;
}

label {
  cursor: pointer;
}

input:disabled,
textarea:disabled {
  opacity: 1 !important; // for iOS
}

ul {
  list-style-type: none;
}

:where(h1, h2, h3, h4, h5, p) {
  cursor: default;
}

/* GENERAL STYLING */

a {
  color: rgba(51, 226, 230, 0.9);
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    color: $cyan;
    text-decoration: underline;
  }
}

html {
  text-align: center;
  padding-block: 4rem 6rem;
  letter-spacing: 0.025rem;
  word-spacing: 0.2em;
  background-color: black;

  @include cyan(0.75, 'text');
  @include font;

  @include respond-up('small-desktop') {
    padding-block: 4rem 2rem;
  }

  &::-webkit-scrollbar {
    width: 0px;
  }

  main,
  :where(.flex) {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .flex-row {
    @extend .flex;
    flex-direction: row;
  }

  .gap-8 {
    gap: 0.5rem;
  }

  .blur {
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
  }

  .pad-8 {
    padding: 0.5rem;
  }

  .pad {
    padding: 1rem;
  }

  .pad-inline {
    padding-inline: 1rem;
  }

  .round-8 {
    border-radius: 0.5rem;
  }

  .round-12 {
    border-radius: 0.75rem;
  }

  .round {
    border-radius: 1rem;
  }

  .round-24 {
    border-radius: 1.5rem;
  }

  .round-32 {
    border-radius: 2rem;
  }

  .mar {
    margin: 1rem;
  }

  .mar-inline {
    margin-inline: 1rem;
  }

  .mar-auto {
    margin-inline: auto;
  }

  .validation {
    text-transform: uppercase;
    @include font(small);

    a {
      color: inherit;
      font-size: inherit;
      line-height: inherit;
      filter: brightness(125%);
      text-decoration: underline;

      &:hover,
      &:active {
        text-decoration: none;
      }
    }
  }

  .transition {
    transition: all 0.3s ease-in-out;
  }

  .container {
    @extend .flex;
    @extend .blur;
    @extend .pad;
    @extend .round;
    width: clamp(250px, 90%, 50rem);
    box-shadow: $shadow-plus-inset-glow;
    animation: dark-glowing 10s ease-in-out infinite;
    margin-inline: auto;
  }

  .transparent-container {
    @extend .container;
    animation: transparent-glowing 10s ease-in-out infinite;
  }

  .non-transparent-container {
    @extend .container;
    animation: dark-glowing-opaque 10s ease-in-out infinite;
  }

  .wide-container {
    width: clamp(250px, 95%, 70rem);
  }

  .top-left-icon,
  .top-right-icon {
    width: 2.75rem;
    border-radius: 50%;
    z-index: 100;

    svg {
      border-radius: inherit;
    }

    &:hover,
    &:active,
    &:focus {
      @include scale;
    }

    @include respond-up(small-desktop) {
      position: fixed;
      top: 1rem;
      width: 4rem;
    }
  }

  .top-left-icon {
    left: 1rem;
  }

  .top-right-icon {
    right: 1rem;
  }

  .vert-scrollbar {
    &::-webkit-scrollbar {
      width: 0.5rem;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(51, 226, 230, 0.25),
        rgba(0, 0, 0, 0)
      );
      border-radius: 0.5rem;
      cursor: pointer;
    }

    &::-webkit-scrollbar-thumb:hover,
    &::-webkit-scrollbar-thumb:active {
      background: rgba(51, 226, 230, 0.25);
    }
  }

  :where(img) {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: initial;
  }

  :where(hr) {
    width: 95%;
    @include white-border(0.1);
  }
}

.pc-only {
  display: none;

  @include respond-up(tablet) {
    display: block;
  }
}

// For screen readers
.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

// For game instructions
.keyboard-instructions {
  @extend .transparent-container;
  width: auto !important;
  align-items: flex-start;
  padding-inline: 10rem !important;

  li {
    @extend .flex-row;

    .keyboard-btn {
      font-family: Verdana, sans-serif;
      font-weight: bold;
      min-width: 3rem;
      min-height: 2rem;
      padding: 0.5rem;
      border-radius: 0.25rem;
      @include gray;
      @include dark-blue(1, text);
    }
  }
}
