---
import Layout from '@layouts/Layout.astro';

const meta = {
  header: 'You’ve Entered the Void…',
  nav: '404',
  arrow: 'back',
};
---

<Layout {...meta}>
  <div class="container">
    <h5>Page couldn’t be found. Try heading back home.</h5>
    <a class="button-anchor" href="/"> HOME </a>
    <h5>This part of the realm is still unwritten.</h5>
  </div>
</Layout>
