---
import Layout from '@layouts/Layout.astro';
import Menu from '@components/Menu.svelte';

const meta = {
  header: 'CoNexus',
  subheading: `
    CoNexus is the gateway to a boundless multiverse with immersive and dynamic interactive Choose-Your-Adventure stories. Powered by cutting-edge artificial intelligence, CoNexus generates captivating narratives in real time, offering you an unparalleled journey into infinite and one-of-a-kind experiences.`,
  nav: 'Home',
};

const footerText = [
  'Personalized storylines with endless possibilities lie in your hands.',
  'Your choices and actions will shape the course of your unique narratives.',
  'V2 will launch soon, allowing you to create your own stories.',
];
---

<Layout {...meta}>
  <main>
    <Menu client:load />
    <footer class="flex">
      {
        footerText.map((text: any) => (
          <p class="pad-inline text-shad">{text}</p>
        ))
      }
    </footer>
  </main>
</Layout>
