---
import '@styles/reset.css';
import '@styles/global.css';
---

<main>
  <section>
    <h1>Maintenance</h1>
    <div>
      <h3>The portal is sealed. Systems are being reforged.</h3>
      <img src="/logo.avif" alt="DeGenerous" />
      <h3>We'll be back shortly to restore your journey.</h3>
    </div>
  </section>
</main>

<style>
  :global(html) {
    background-image: url('/conexusBG.avif');
    background-color: black;
    overflow-y: hidden;
  }

  main {
    width: 100vw;
    height: 100vh;
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
  }

  section {
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    padding-block: 2vw;
  }

  div {
    width: 60vw;
    height: 70vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    background-image: url('/conexusBG.avif');
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    padding-inline: 2vw;
    border-radius: 2vw;
    box-shadow: 0 0 0.5vw rgba(51, 226, 230, 0.5);
    overflow-y: hidden;
  }

  h1 {
    font-size: 4vw;
    line-height: 4vw;
  }

  h3 {
    color: white;
    font-size: 2vw;
    line-height: 1.5;
    text-shadow: 0 0.5vw 0.5vw #010020;
  }

  img {
    width: 20vw;
    height: auto;
    animation: maintenance 5s linear infinite;
  }

  @media screen and (max-width: 600px) {
    main {
      -webkit-backdrop-filter: none;
      backdrop-filter: none;
    }

    section {
      gap: 2em;
      padding-block: 2em;
    }

    div {
      width: 100vw;
      height: auto;
      gap: 1em;
      border-radius: 0;
      box-shadow: none;
      background-image: none;
      background-color: transparent;
    }

    h1 {
      font-size: 2em;
      line-height: 3em;
    }

    h3 {
      font-size: 1.5em;
      padding-inline: 0.5em;
    }

    img {
      width: 90vw;
    }
  }

  @keyframes maintenance {
    0% {
      opacity: 0.1;
      filter: brightness(50%);
    }
    50% {
      opacity: 1;
      filter: brightness(125%);
    }
    100% {
      opacity: 0.1;
      filter: brightness(50%);
    }
  }
</style>
