---
import Navigation from '@components/Navigation.svelte';

import '@styles/index.scss';
---

<Navigation header="Maintenance" hidden={true} client:load />

<section class="container">
  <h5 class="text-glowing">
    The portal is sealed. Systems are being reforged.
  </h5>
  <img class="pulse-animation" src="/logo.avif" alt="DeGenerous" />
  <h5 class="text-glowing">We'll be back shortly to restore your journey.</h5>
</section>

<style>
  img {
    width: 20rem;
  }
</style>
