---
import Layout from '@layouts/Layout.astro';

import CreateStory from '@components/dashboard/dream/CreateStory.svelte';

const meta = {
  nav: 'Create Story',
};
---

<main>
  <Layout {...meta}>
    <CreateStory client:load />
  </Layout>
</main>
