---
import Layout from '@layouts/Layout.astro';

import CreateStory from '@components/dashboard/dream-legacy/CreateStory.svelte';

const meta = {
  header: 'Create Story',
  nav: 'Create Story',
  arrow: '/dashboard/dream',
  subheading:
    'Be the author of your own destiny and the architect of your dreams',
};
---

<Layout {...meta}>
  <main>
    <CreateStory client:load />
  </main>
</Layout>
