---
import Layout from '@layouts/Layout.astro';
import AgentStory from '@components/AgentStory.svelte';
// import { mediaURL } from '@constants/media';

const { story_id } = Astro.params;

const meta = {
  title: `PAC | CoNexus`,
  nav: 'PAC',
  arrow: '/',
};
---

<Layout {...meta}>
  <main>
    <AgentStory {story_id} client:load />
  </main>
</Layout>
