---
import Layout from '@layouts/Layout.astro';

import ManageStories from '@components/dashboard/dream/ManageStories.svelte';

const { topic } = Astro.params;

if (!topic) {
  Astro.redirect('/');
}

const meta = {
  nav: 'Manage Story',
  subheading:
    'Edit, organize, and enhance your creations—fine-tune every detail to perfection.',
};
---

<main>
  <Layout {...meta}>
    <ManageStories client:load />
  </Layout>
</main>
