---
import Layout from '@layouts/Layout.astro';

import ManageStories from '@components/dashboard/dream-legacy/ManageStories.svelte';

const meta = {
  header: 'Manage Stories',
  nav: 'Manage Stories',
  arrow: '/dashboard/dream',
  subheading:
    'Edit, organize, and enhance your creations—fine-tune every detail to perfection.',
};
---

<Layout {...meta}>
  <main>
    <ManageStories client:load />
  </main>
</Layout>
