---
import Layout from '@layouts/Layout.astro';
import Omnihub from '@components/routes/Omnihub.svelte';

const meta = {
  title: 'OmniHub | CoNexus',
  nav: 'OmniHub',
  arrow: '/dashboard',
  header: 'OmniHub',
  subheading:
    'A singular platform to manage your journey. From staking tokens to tracking incoming rewards and customizing your character sheet, OmniHub brings all your essential tools into one seamless, story-driven interface. Power, progress, and personalization — all in one place.',
};
---

<Layout {...meta}>
  <main>
    <Omnihub client:load />
  </main>
</Layout>
