// CLASSES: cyan (soft), dark, green, red (outline)

@mixin cyan-border($opacity: 1) {
  border: 1px solid rgba(51, 226, 230, $opacity);
}

@mixin dark-border($opacity: 1) {
  border: 1px solid rgba(1, 0, 32, $opacity);
}

@mixin green-border($opacity: 1) {
  border: 1px solid rgba(0, 185, 55, $opacity) !important;
}

@mixin red-border($opacity: 1) {
  border: 1px solid rgba(255, 50, 50, $opacity) !important;
}

:global(.cyan-border-transparent) {
  @include cyan-border(0.25);
}

:global(.cyan-border-soft) {
  @include cyan-border(0.5);
}

:global(.cyan-border) {
  @include cyan-border;
}

:global(.dark-border) {
 @include dark-border;
}

:global(.green-border) {
  @include green-border;
}

:global(.red-border) {
  @include red-border;
}

:global(.red-outline) {
  outline: 1.5px solid rgba(255, 50, 50, 0.75);
}