@use 'sass:map';
@use './breakpoints' as *;

$font-scale: (
  'body': clamp(1rem, 1.5vw, 1.05rem),
  // 16–18px
  'small': clamp(0.875rem, 1.2vw, 1rem),
  // 14–16px
  'caption': clamp(0.75rem, 1vw, 0.875rem),
  // 12–14px
  'h1': clamp(2rem, 5vw, 3.5rem),
  // 32–56px
  'h2': clamp(1.75rem, 4vw, 3rem),
  // 28–48px
  'h3': clamp(1.5rem, 3vw, 2.5rem),
  // 24–40px
  'h4': clamp(1.25rem, 2.5vw, 1.5rem),
  // 20–24px
  'h5': clamp(1.125rem, 1.5vw, 1.25rem), // 18-20px
);

@mixin font($size-key: 'body') {
  @if map.has-key($font-scale, $size-key) {
    font-size: map.get($font-scale, $size-key);
    line-height: 1.5;

    // Static value for wide screens
    @include respond-up(ultra-wide) {
      @if $size-key == 'body' {
        font-size: 0.93vw; // ≈ 18px @ 1920px
      } @else if $size-key == 'small' {
        font-size: 0.85vw;
      } @else if $size-key == 'caption' {
        font-size: 0.75vw;
      } @else if $size-key == 'h1' {
        font-size: 2.9vw; // ≈ 56px @ 1920px
      } @else if $size-key == 'h2' {
        font-size: 2.5vw;
      } @else if $size-key == 'h3' {
        font-size: 2vw;
      } @else if $size-key == 'h4' {
        font-size: 1.6vw;
      } @else if $size-key == 'h5' {
        font-size: 1.2vw;
      }
    }

  } @else {
    @warn "Font size `#{$size-key}` not found in $font-scale map.";
  }
}

:global(:where(h1)) {
  @include font(h1);
}

:global(:where(h2)) {
  @include font(h2);
}

:global(:where(h3)) {
  @include font(h3);
}

:global(:where(h4)) {
  @include font(h4);
}

:global(:where(h5, input)) {
  @include font(h5);
}

:global(:where(.validation)) {
  @include font(small);
}

:global(:where(p, label, button)) {
  @include font(body);
}
