---
import Layout from '@layouts/Layout.astro';

const meta = {
  title: 'Blog | CoNexus',
  nav: 'Blog',
  arrow: '/learn/blog',
  header: 'AI Stories',
  subheading:
    'Curious about AI-generated stories? Discover the best platforms for reading, playing, or creating AI-powered narratives in 2025 — from interactive adventures to personalized fiction.',
};
---

<Layout {...meta}>
  <span></span>
</Layout>
