---
import Layout from '@layouts/Layout.astro';

const meta = {
  title: 'Blog | CoNexus',
  nav: 'Blog',
  arrow: '/learn/blog',
  header: 'Best Visual Novels',
  subheading:
    'Looking for the best visual novels to play in 2025? Explore immersive, choice-driven stories across romance, mystery, fantasy, and more — available online and on all platforms.',
};
---

<Layout {...meta}>
  <span></span>
</Layout>
