---
import Layout from '@layouts/Layout.astro';

const meta = {
  title: 'Blog | CoNexus',
  nav: 'Blog',
  arrow: '/learn/blog',
  header: 'Top Tools',
  subheading:
    'Looking for the best choose-your-own-adventure tools to build interactive stories in 2025? Explore free and advanced platforms for creating branching narratives, visual novels, and story games — with and without code.',
};
---

<Layout {...meta}>
  <span></span>
</Layout>
