---
import Layout from '@layouts/Layout.astro';

const meta = {
  title: 'Blog | CoNexus',
  nav: 'Blog',
  arrow: '/learn/blog',
  header: 'Create Interactive Fiction',
  subheading:
    'Want to create interactive fiction? Discover the best tools, platforms, and techniques to start building branching narratives and story games online in 2025 — no coding required.',
};
---

<Layout {...meta}>
  <span></span>
</Layout>
